.item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.item__name {
    width: 40%;
}

.item__priority {
    width: 40%;
}

.high {
    color: red;
}

.middle {
    color: goldenrod;
}

.low {
    color: green;
}