.superInput {
    width: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px 7px;
    border-radius: 7px;
    border: 1px solid black;

}

.errorInput {
    border: 1px solid red;
}

.error {
    color: red;
}